# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/child-processes
/.pnp
.pnp.js

# testing
/coverage

# production
/utils/trial_extender/collected/app1.json
/utils/trial_extender/cleanedResponseHeader.json
/utils/trial_extender/collectiveStreamData.json
/utils/trial_extender/new_app_data.json
/utils/trial_extender/streamCred.json
/utils/trial_extender/streamData.json
/utils/trial_extender/streamData.txt
# /build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*
